<!DOCTYPE html>
<html>
<head>
	<title>Stats</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	<table>
		{% for stat in stats %}
		<tr>
			<td>
				Original Link: {{ stat.original_url }}
			</td>
			<td>
				Shortened Link: {{ stat.short_url }}
			</td>
			<td>
				Hits: {{ stat.visits }}
			</td>
			<td>
				<a href = "/delete/{{ stat.short_url }}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>